<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Status</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="static/cover.css"/>
</head>
<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead">
        <div class="inner">
            <h3 class="masthead-brand">Status</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="./">Services</a>
                <a class="nav-link" href="./metrics">Metrics</a>
            </nav>
        </div>
    </header>
    <main role="main" class="inner cover table-responsive" id="react-root">

        <div class="alert alert-{{ .OverallStatus.ClassName }}" role="alert">
            <h4 class="alert-heading">{{ .OverallStatus.Overview }}</h4>
        </div>


        <table class="table table-dark table-striped">
            <caption>Last Updated: <span id="last-update">{{ .Timestamp }}</span></caption>
            <thead class="thead-light table-sm">
            <tr>
                <th>Name</th>
                <th>Nodes</th>
                <th>Status</th>
                <th>History</th>
            </tr>
            </thead>
        {{range $groupName, $group := .Groups}}
            <thead id="{{ $groupName }}" class="thead-dark group" data-for="services-{{ $groupName }}">
            <tr>
                <th colspan="2" class="group-name">{{ $groupName }}</th>
                <th class="status bg-{{ $group.Status.ClassName }}">
                    <span class="status-value">{{ $group.Status }}</span> <i class="status-icon fas {{ $group.Status.Icon }}"></i>
                </th>
                <td class="history"></td>
            </tr>
            </thead>
            <tbody id="services-{{ $groupName }}" class="table-sm {{if eq $group.Status 0}}hidden{{end}}">
            {{ range $group.Services }}
            <tr id="{{ .ID }}">
                <td class="service">{{ .Name }}</td>
                <td class="counts">{{ .Running }} / {{ .Replicas }}</td>
                <td class="status bg-{{ .Status.ClassName }}">
                    <span class="status-value">{{ .Status }}</span> <i class="status-icon fas {{ .Status.Icon }}"></i>
                </td>
                <td class="history"></td>
            </tr>
            {{end}}
            </tbody>
        {{end}}
        </table>
    </main>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    {{/*
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    */}}
    <script src="https://moment.github.io/luxon/global/luxon.min.js"></script>
    <script src="static/react-status.js"></script>
</div>
</body>
</html>
